<div class="m-2" *ngIf="getDetails$ | async">
  <form [formGroup]="postForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label class="col-md-4 control-label" for="title">Title</label>
      <div class="col-md-4">
        <input id="title" name="title" placeholder="Enter Title" class="form-control input-md" type="text"
          formControlName="title">
      </div>
      <div *ngIf="postForm.controls['title'].invalid && (postForm.controls['title'].dirty || postForm.controls['title'].touched)">
        <div *ngIf="postForm.controls['title'].errors!.required" class="css--error">
         *Please enter title
        </div>
     </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="comment">Comment</label>
      <div class="col-md-4">
        <textarea class="form-control" id="comment" name="comment" formControlName="body" placeholder="Enter Comment"></textarea>
      </div>
      <div *ngIf="postForm.controls['body'].invalid && (postForm.controls['body'].dirty || postForm.controls['body'].touched)">
        <div *ngIf="postForm.controls['body'].errors!.required" class="css--error">
         *Please enter comment
        </div>
     </div>
    </div>
    <div class="form-group">
      <div class="d-flex p-2">
        <button id="savebutton" name="savebutton" class="btn btn-primary" type="submit"
          [disabled]="!postForm.valid">Save</button>
      </div>
    </div>
  </form>
</div>
