<div class="row">
  <div class="col-3 pb-2 pt-2 ml-2">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
      [formControl]="searchPost">
  </div>
</div>
<div class="list-group">
  <div *ngIf="isLoading$ | async">Loading...</div>
  <a href="#" *ngFor="let post of getPost$ | async; let i = index"
    class="list-group-item list-group-item-action flex-column align-items-start"
    [routerLink]="['/post', post.id, 'details']">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> {{ i + 1 }} {{ post.title }}</h5>
    </div>
    <p class="mb-1">{{ post.body }}</p>
  </a>
</div>